html {
  background: black;  /*  page background color  */
  color: white;/* text color */


  margin-bottom: px;/*  adjust the margin   */
  margin-top: 0px;
}         /*  modifies the html tag    */
body {
  margin: 0;
}
.diskcontent {
  background-image: url(/object/gameboydisk.png); /*  page background image  */
  background-repeat: no-repeat;/*  display the image only once  */
  background-position: center;/*  center the image  */
  background-size: cover;/*  cover the entire page with the image  */
  background-attachment: relative;/*  fix the image when the user scrolls  */
  width: 1000px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

h1 {
  text-align: center;
}/* modifies the h1 tag used as a header for the title   */

label {
  display: block;
  text-align: center;
}/*  modifies the label tag to center it   */

input {
  display: block;
  margin: auto;
}/* modifies the input tag to center it */

p {
  display: block;
  text-align: center;
} /* modifies the p tag to center it */

.image {
 /* filter: invert();*/
 height: 250px;
}/* modifies the image class by giving it a height  */


.centre {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}/* modifies the center tag for the play button and gives it a texture */

.centre:hover {
    background-color: rgba(255, 0, 0, 1);
  }/* used to give a physical appearance and maintain the button when clicked */
  
  .centre:active {
    box-shadow:
      inset -2px -2px 3px rgba(255, 255, 255, 0.6),
      inset 2px 2px 3px rgba(0, 0, 0, 0.6);
  }/* used for the center class for the edges when the button is active */
  

/* .tableausco {
 border: 1px solid #2e9e1257;
 height: 500px;
 width: 400px;
margin: auto;
background: rgb(1, 19, 3);
border-radius: 20px;
}   To be completed */

.titre {
  border: 0 solid #ccc;
  background:rgba(172, 255, 47, 0.692);
  width: 400px;
  margin: auto;
  border-radius: 20px;
}/* gives texture to the title */